@import '_menu';
/*
** Contains all items within the <header> tags
*/

header {
  background-color: $red;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  height:auto;
  position: relative;
  @include mquery(medium){
  	  flex-wrap: wrap;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  a {
  	display:block;
  	margin-top: 5px;
  	padding:5px;
  }
}

#logo {
	flex-grow:1;
  padding: 10px;
  margin-bottom:0;
}