/*
** Contains all items within the <header> tags
*/

header {
  background-color: #1E3650;
  border-top: 15px solid #25768F;
  padding: 2rem 0 1rem;

  .logo {
    text-align: center;

    img {
      width: 200px;
    }
  }
}