/*
** All styling associated with the menu, both mobile and normal
*/
.menu {
	flex-grow:1;
	@include mquery(medium){
		width:40%;
		height:100px;
		position: relative;
	}
	ul {
		position:absolute;
		top:120%;
		padding:0;
		background:$red;
		z-index: 100;
		@include mquery(medium) {
			display:flex;
		}
		&.active{
			display:none;
			@include mquery(medium) {
				display:flex;
				width: 100%;
				right: 20px;
			    position: absolute;
			    top: 0px;
			    left: 0px;
			    padding:20px;
			    margin:0;
			}
		}
		&:after {
			width:0px;
			height:0px;
			position:absolute;
			top:0%;
			left:22px;
			content:'';
		}
		&.mobile{
			position:absolute;
			margin: 0;
			top:216.875px;
			width: 100vw;
			left:0;
			li{
				border-top: 1px white solid;
				@include mquery(medium){
					border-top: none;
				}
			}
			@media (min-width:408px) {
				top:172.875px;
			}
			@include mquery(medium){
				display:flex;
				width: 100%;
				right: 20px;
			    position: absolute;
			    top: 0px;
			    left: 0px;
			    padding:20px;
			    margin:0;
			}
		}
	}
	li {
		margin:5px 0px 5px 0px;
		display:block;
		flex-grow: 1;
		@include mquery(medium) {
		    list-style:none;
		    &:last-child {
		    	margin-right:0px;
		    }
		}
	}
	a {
		text-decoration:none;
	}
}

.toggle-nav {
	width: 60px;
    display: block;
    position: absolute;
    top: 5rem;
    right: 1.1rem;
    height: 8px;
    background: $white;
    transition:color linear 0.15s;
    @include mquery(medium) {
		display:none;
	}
	//controls the transition of the menu w/ CSS animations
	span {
		transition: background 0s .3s;
	}
	&.active{
		span {
			background: 0 0;
		}
	}
    &:before{
		width: 100%;
	    display: block;
	    position: absolute;
	    top: -1.25rem;
	    height: 8px;
	    background: #fff;
	    content: "";
	}
	&:after{
		width: 100%;
	    display: block;
	    position: absolute;
	    top: 1.25rem;
	    height: 8px;
	    background: #fff;
	    content: "";
	}
}

.toggle-nav{
	&.active {
		.mobile-menu{
			&:before{
			    transform: rotate(45deg);
	    		top: 0;
	    		transition-delay: 0s,.3s;
	    		transition-duration: .3s,.3s;
			}
			&:after{
				transform: rotate(-45deg);
	    		top: 0;
	    		transition-delay: 0s,.3s;
	    		transition-duration: .3s,.3s;
			}
		}
	}
}

.toggle-nav {
	&:before{
		transition-property: top,transform;
	}
	&:after{
		transition-property: bottom,transform;
	}
}

// The only max width media query I have to have so far
@media screen and (max-width:$bp-med){
	.menu {
		a{
			display:block;
		}
	}
}