body {
	background-color: #6AFAC3;	
}

.navigation {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.navigation li {
    display: inline;
}

#about,
#resume,
#code-samples {
	margin-top: 50px;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}