@import 'vendor/normalize';
@import 'vendor/html5bp';
@import '_variables';
@import '_mixins';
@import '_extendables';


@import 'https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif';

body {
  box-sizing:border-box;
  font-family: "PT Sans", sans-serif;
}

h1,
h2 {
  font-family: "PT Serif", serif;
}

p {
	text-align:left;
}

a {
  padding-bottom: 3px;
  border-bottom: 3px solid;
  text-decoration: none;
  color: #25768F;
  font-weight: bold;
  transition: padding-bottom 0.3s ease;

  &:hover {
    padding-bottom: 5px;
  }
}

.hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
