@import 'vendor/normalize';
@import 'vendor/html5bp';
@import '_variables';
@import '_mixins';
@import '_extendables';

@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
  @include hex2rgba-bg(#ffffff, .5);
  background: url(../images/sunrise-background.jpg);
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}

p {
	text-align:left;
}

.hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}