@import 'vendor/normalize';
@import 'vendor/html5bp';
@import '_variables';
@import '_mixins';
@import '_extendables';

@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
  background: #9bc2cf;
  color: white;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
	position: relative;
	z-index: 1;
}

p {
	text-align:left;
}

.hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}