// Colors
$red: #ff4d4d;
$white: #ffffff;
$almost-black: #1a0000;

// Breakpoints
$screen: "only screen" !default;
$small-max: 480px !default;
$medium-max: 767px !default;
$large-max: 1023px !default;
$small: $screen $small-max;
$medium: $screen $medium-max;
$large: $screen $large-max + 1;
